<h3>Peticiones ajax</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Peticion por httClient</div>
            <div class="card-body">
              <h5 class="card-title">https://restcountries.com</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
            </div>
          </div>
    </div>
    <div class="col">
                 <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Peticion por HttpClient y service.ts</div>
            <div class="card-body">
              <h5 class="card-title">https://reqres.in/</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    
  </div>

